<!--Mobile header-->
<!--Mobile header-->



<!--Desktop Header-->
<div class="site__header d-lg-block d-none">
    <div class="site-header">

        <div class="site-header__topbar topbar">
            <div class="topbar__container container">
                <div class="topbar__row">
                    <div class="topbar__item topbar__item--link">
                        <a class="topbar-link" href="#">About Us</a>
                    </div>
                    <div class="topbar__item topbar__item--link">
                        <a class="topbar-link" href="#">Contacts</a>
                    </div>
                    <div class="topbar__item topbar__item--link">
                        <a class="topbar-link" href="">Store Location</a>
                    </div>
                    <div class="topbar__item topbar__item--link">
                        <a class="topbar-link" href="#">Track Order</a>
                    </div>
                    <div class="topbar__item topbar__item--link">
                        <a class="topbar-link" href="#">Blog</a>
                    </div>

                    <div class="topbar__spring"></div>

                    <div class="topbar__item">
                        <div class="topbar-dropdown">
                            <button type="button" class="topbar-dropdown__btn"> My Account </button>
                            <div class="topbar-dropdown__body">
                                <ul class="menu menu--layout--topbar">

                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="topbar__item">
                        <div class="topbar-dropdown">
                            <button type="button" class="topbar-dropdown__btn"> Currency: <span
                                    class="topbar__item-value">USD </span> </button>
                            <div class="topbar-dropdown__body">
                                <ul class="menu menu--layout--topbar" style="width: 20%;">

                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="topbar__item">
                        <div class="topbar-dropdown" placement="bottom-right">
                            <button type="button" class="topbar-dropdown__btn"> Language: <span
                                    class="topbar__item-value">EN</span> </button>
                            <div class="topbar-dropdown__body">
                                <ul class="menu menu--layout--topbar" style="width: 20%;">

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="site-header__nav-panel">
            <div class="nav-panel nav-panel--sticky">
                <div class="nav-panel__container container">
                    <div class="nav-panel__row">
                        <div class="nav-panel__logo">
                            <a href="index.html">
                                <svg xmlns="http://www.w3.org/2000/svg" width="120px" height="20px">
                                    <path d="M118.5,20h-1.1c-0.6,0-1.2-0.4-1.4-1l-1.5-4h-6.1l-1.5,4c-0.2,0.6-0.8,1-1.4,1h-1.1c-1,0-1.8-1-1.4-2l1.1-3
                                    l1.5-4l3.6-10c0.2-0.6,0.8-1,1.4-1h1.6c0.6,0,1.2,0.4,1.4,1l3.6,10l1.5,4l1.1,3C120.3,19,119.5,20,118.5,20z M111.5,6.6l-1.6,4.4
                                    h3.2L111.5,6.6z M99.5,20h-1.4c-0.4,0-0.7-0.2-0.9-0.5L94,14l-2,3.5v1c0,0.8-0.7,1.5-1.5,1.5h-1c-0.8,0-1.5-0.7-1.5-1.5v-17
                                    C88,0.7,88.7,0,89.5,0h1C91.3,0,92,0.7,92,1.5v8L94,6l3.2-5.5C97.4,0.2,97.7,0,98.1,0h1.4c1.2,0,1.9,1.3,1.3,2.3L96.3,10l4.5,7.8
                                    C101.4,18.8,100.7,20,99.5,20z M80.3,11.8L80,12.3v6.2c0,0.8-0.7,1.5-1.5,1.5h-1c-0.8,0-1.5-0.7-1.5-1.5v-6.2l-0.3-0.5l-5.5-9.5
                                    c-0.6-1,0.2-2.3,1.3-2.3h1.4c0.4,0,0.7,0.2,0.9,0.5L76,4.3l2,3.5l2-3.5l2.2-3.8C82.4,0.2,82.7,0,83.1,0h1.4c1.2,0,1.9,1.3,1.3,2.3
                                    L80.3,11.8z M60,20c-5.5,0-10-4.5-10-10S54.5,0,60,0s10,4.5,10,10S65.5,20,60,20z M60,4c-3.3,0-6,2.7-6,6s2.7,6,6,6s6-2.7,6-6
                                    S63.3,4,60,4z M47.8,17.8c0.6,1-0.2,2.3-1.3,2.3h-2L41,14h-4v4.5c0,0.8-0.7,1.5-1.5,1.5h-1c-0.8,0-1.5-0.7-1.5-1.5v-17
                                    C33,0.7,33.7,0,34.5,0H41c0.3,0,0.7,0,1,0.1c3.4,0.5,6,3.4,6,6.9c0,2.4-1.2,4.5-3.1,5.8L47.8,17.8z M42,4.2C41.7,4.1,41.3,4,41,4h-3
                                    c-0.6,0-1,0.4-1,1v4c0,0.6,0.4,1,1,1h3c0.3,0,0.7-0.1,1-0.2c0.3-0.1,0.6-0.3,0.9-0.5C43.6,8.8,44,7.9,44,7C44,5.7,43.2,4.6,42,4.2z
                                     M29.5,4H25v14.5c0,0.8-0.7,1.5-1.5,1.5h-1c-0.8,0-1.5-0.7-1.5-1.5V4h-4.5C15.7,4,15,3.3,15,2.5v-1C15,0.7,15.7,0,16.5,0h13
                                    C30.3,0,31,0.7,31,1.5v1C31,3.3,30.3,4,29.5,4z M6.5,20c-2.8,0-5.5-1.7-6.4-4c-0.4-1,0.3-2,1.3-2h1c0.5,0,0.9,0.3,1.2,0.7
                                    c0.2,0.3,0.4,0.6,0.8,0.8C4.9,15.8,5.8,16,6.5,16c1.5,0,2.8-0.9,2.8-2c0-0.7-0.5-1.3-1.2-1.6C7.4,12,7,11,7.4,10.3l0.4-0.9
                                    c0.4-0.7,1.2-1,1.8-0.6c0.6,0.3,1.2,0.7,1.6,1.2c1,1.1,1.7,2.5,1.7,4C13,17.3,10.1,20,6.5,20z M11.6,6h-1c-0.5,0-0.9-0.3-1.2-0.7
                                    C9.2,4.9,8.9,4.7,8.6,4.5C8.1,4.2,7.2,4,6.5,4C5,4,3.7,4.9,3.7,6c0,0.7,0.5,1.3,1.2,1.6C5.6,8,6,9,5.6,9.7l-0.4,0.9
                                    c-0.4,0.7-1.2,1-1.8,0.6c-0.6-0.3-1.2-0.7-1.6-1.2C0.6,8.9,0,7.5,0,6c0-3.3,2.9-6,6.5-6c2.8,0,5.5,1.7,6.4,4C13.3,4.9,12.6,6,11.6,6
                                    z"></path>
                                </svg>
                            </a>
                        </div>
                        <div class="nav-panel__nav-links nav-links">
                            <ul class="nav-links__list">
                                <li class="nav-links__item nav-links__item--has-submenu">
                                    <a href="index.html" class="nav-links__item-link">
                                        <div class="nav-links__item-body">
                                            <i class=" fas fa-home" style="font-size: x-large;padding-right: 5px;"></i>
                                            Home
                                        </div>
                                    </a>
                                </li>
                                <li class="nav-links__item nav-links__item--has-submenu .nav-links__item--hover"
                                    ngbDropdown>
                                    <a class="nav-links__item-link">
                                        <div class="nav-links__item-body" id="Categories" ngbDropdownToggle>
                                            Categories
                                        </div>
                                    </a>
                                    <div class="megamenu__body" ngbDropdownMenu aria-labelledby="Categories"
                                        style="width: 550px;border-radius: 1px;">
                                        <div class="row">
                                            <div class="col-6">
                                                <ul class="megamenu__links megamenu__links--level--0">
                                                    <li class="megamenu__item megamenu__item--with-submenu">
                                                        <a href="" ngbDropdownItem>Power Tools</a>
                                                        <ul class="megamenu__links megamenu__links--level--1">
                                                            <li class="megamenu__item" ngbDropdownItem>
                                                                <a href="">Engravers</a>
                                                            </li>
                                                            <li class="megamenu__item" ngbDropdownItem>
                                                                <a href="">Wrenches</a>
                                                            </li>
                                                            <li class="megamenu__item" ngbDropdownItem>
                                                                <a href="">Wall Chaser</a>
                                                            </li>
                                                            <li class="megamenu__item" ngbDropdownItem>
                                                                <a href="">Pneumatic Tools</a>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li class="megamenu__item megamenu__item--with-submenu">
                                                        <a href="" ngbDropdownItem>Machine Tools</a>
                                                        <ul class="megamenu__links megamenu__links--level--1">
                                                            <li class="megamenu__item" ngbDropdownItem>
                                                                <a href="">Thread Cutting</a>
                                                            </li>
                                                            <li class="megamenu__item" ngbDropdownItem>
                                                                <a href="">Chip Blowers</a>
                                                            </li>
                                                            <li class="megamenu__item" ngbDropdownItem>
                                                                <a href="">Sharpening Machines</a>
                                                            </li>
                                                            <li class="megamenu__item" ngbDropdownItem>
                                                                <a href="">Pipe Cutters</a>
                                                            </li>
                                                            <li class="megamenu__item" ngbDropdownItem>
                                                                <a href="">Slotting machines</a>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-6">
                                                <ul class="megamenu__links megamenu__links--level--0">
                                                    <li class="megamenu__item megamenu__item--with-submenu">
                                                        <a href="" ngbDropdownItem>Garden Equipment</a>
                                                        <ul class="megamenu__links megamenu__links--level--1">
                                                            <li class="megamenu__item" ngbDropdownItem>
                                                                <a href="">Engravers</a>
                                                            </li>
                                                            <li class="megamenu__item" ngbDropdownItem>
                                                                <a href="">Wrenches</a>
                                                            </li>
                                                            <li class="megamenu__item" ngbDropdownItem>
                                                                <a href="">Wall Chaser</a>
                                                            </li>
                                                            <li class="megamenu__item" ngbDropdownItem>
                                                                <a href="">Pneumatic Tools</a>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li class="megamenu__item megamenu__item--with-submenu">
                                                        <a href="" ngbDropdownItem>Hand Tools</a>
                                                        <ul class="megamenu__links megamenu__links--level--1">
                                                            <li class="megamenu__item" ngbDropdownItem>
                                                                <a href="">Thread Cutting</a>
                                                            </li>
                                                            <li class="megamenu__item" ngbDropdownItem>
                                                                <a href="">Chip Blowers</a>
                                                            </li>
                                                            <li class="megamenu__item" ngbDropdownItem>
                                                                <a href="">Sharpening Machines</a>
                                                            </li>
                                                            <li class="megamenu__item" ngbDropdownItem>
                                                                <a href="">Pipe Cutters</a>
                                                            </li>
                                                            <li class="megamenu__item" ngbDropdownItem>
                                                                <a href="">Slotting machines</a>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                </li>
                                <li class="nav-links__item nav-links__item--has-submenu .nav-links__item--hover">
                                    <a href="" class="nav-links__item-link">
                                        <div class="nav-links__item-body">
                                            Shop
                                        </div>
                                    </a>

                                </li>
                                <li class="nav-links__item nav-links__item--has-submenu .nav-links__item--hover">
                                    <a class="nav-links__item-link">
                                        <div class="nav-links__item-body">
                                            Chatboot
                                        </div>
                                    </a>


                                </li>
                                <li class="nav-links__item nav-links__item--has-submenu .nav-links__item--hover">
                                    <a href="" class="nav-links__item-link">
                                        <div class="nav-links__item-body">
                                            Blog
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="nav-panel__indicators">
                            <div class="indicator">
                                <button class="indicator__button" type="button">
                                    <span class="indicator__area">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" id="search-20"
                                            width="20px" height="20px">
                                            <path
                                                d="M19.2 17.8s-.2.5-.5.8c-.4.4-.9.6-.9.6s-.9.7-2.8-1.6c-1.1-1.4-2.2-2.8-3.1-3.9-1 .8-2.4 1.3-3.9 1.3-3.9 0-7-3.1-7-7s3.1-7 7-7 7 3.1 7 7c0 1.5-.5 2.9-1.3 4 1.1.8 2.5 2 4 3.1 2.3 1.7 1.5 2.7 1.5 2.7zM8 3C5.2 3 3 5.2 3 8s2.2 5 5 5 5-2.2 5-5-2.2-5-5-5z">
                                            </path>
                                        </svg>
                                    </span>
                                </button>
                            </div>

                            <div class="indicator">
                                <a href="#" class="indicator__button">
                                    <span class="indicator__area">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" id="heart-20"
                                            width="20px" height="100%">
                                            <path
                                                d="M14 3c2.2 0 4 1.8 4 4 0 4-5.2 10-8 10S2 11 2 7c0-2.2 1.8-4 4-4 1 0 1.9.4 2.7 1L10 5.2 11.3 4c.8-.6 1.7-1 2.7-1m0-2c-1.5 0-2.9.6-4 1.5C8.9 1.6 7.5 1 6 1 2.7 1 0 3.7 0 7c0 5 6 12 10 12s10-7 10-12c0-3.3-2.7-6-6-6z">
                                            </path>
                                        </svg>
                                        <span class="indicator__value">0</span>
                                    </span>
                                </a>
                            </div>

                            <div class="indicator">
                                <a href="#" class="indicator__button">
                                    <span class="indicator__area">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" id="cart-20"
                                            width="20px" height="20px">
                                            <circle cx="7" cy="17" r="2"></circle>
                                            <circle cx="15" cy="17" r="2"></circle>
                                            <path
                                                d="M20 4.4V5l-1.8 6.3c-.1.4-.5.7-1 .7H6.7c-.4 0-.8-.3-1-.7L3.3 3.9c-.2-.6-.7-.9-1.2-.9H.4C.2 3 0 2.8 0 2.6V1.4c0-.2.2-.4.4-.4h2.5c1 0 1.8.6 2.1 1.6l.1.4 2.3 6.8c0 .1.2.2.3.2h8.6c.1 0 .3-.1.3-.2l1.3-4.4c0-.2-.2-.4-.4-.4H9.4c-.2 0-.4-.2-.4-.4V3.4c0-.2.2-.4.4-.4h9.2c.8 0 1.4.6 1.4 1.4z">
                                            </path>
                                        </svg>
                                        <span class="indicator__value">0</span>
                                    </span>
                                </a>
                            </div>

                            <div class="indicator">
                                <a href="#" class="indicator__button">
                                    <span class="indicator__area">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" id="person-20"
                                            width="20px" height="20px">
                                            <path
                                                d="M13.7 10.7C15.1 9.6 16 7.9 16 6c0-3.3-2.7-6-6-6S4 2.7 4 6c0 1.9.9 3.6 2.3 4.7C2.6 12.2 0 15.8 0 20h2c0-4.4 3.6-8 8-8s8 3.6 8 8h2c0-4.2-2.6-7.8-6.3-9.3zM6 6c0-2.2 1.8-4 4-4s4 1.8 4 4-1.8 4-4 4-4-1.8-4-4z">
                                            </path>
                                        </svg>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Desktop Header-->