//Best Seller
body {
  height: 100%;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  background: #fff;
  color: #3d464d;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.block {
  margin-bottom: 50px;
}

@media (max-width: 991px) {
  .block {
    margin-bottom: 30px;
  }
}

.block-header {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}
.block-header__title {
  margin-bottom: 0;
  font-size: 20px;
  font-weight: 700;
}
.block-header__divider {
  flex-grow: 1;
  height: 2px;
  background: #ebebeb;
  margin-left: 16px;
}
.block-products__body {
  display: flex;
}
@media (max-width: 991px) {
  .block-products__body {
    display: block;
  }
}
.block-products__featured {
  display: flex;
  flex-direction: column;
  width: 36%;
  flex-shrink: 0;
}
@media (max-width: 991px) {
  .block-products__featured {
    width: 100%;
  }
}

.block-products__featured-item {
  display: flex;
  flex-grow: 1;
}
@media (max-width: 991px) and (min-width: 576px) {
  .block-products__featured-item {
    display: block;
  }
}
.block-products__featured-item .product-card {
  width: 100%;
  flex-shrink: 0;
}
.product-card {
  position: relative;
  padding: 1px;
  display: flex;
  flex-direction: column;
  background: #fff;
}
.product-card__badges-list {
  top: 18px;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 1;
  left: 18px;
}
@media (max-width: 991px) and (min-width: 576px) {
  .block-products__featured-item .product-card .product-card__badges-list {
    top: 10px;
    left: 18px;
  }
}
.product-card__badge--new {
  background: #37f;
  color: #fff;
}
.product-card__badge {
  margin-right: 4px;
  font-size: 11px;
  border-radius: 1.5px;
  letter-spacing: 0.02em;
  line-height: 1;
  padding: 5px 8px 4px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 4px;
  margin-right: 4px;
}
@media (min-width: 992px) {
  .block-products__featured-item .product-card .product-card__image {
    padding: 25px;
  }
}
.product-card__image {
  padding: 18px;
  flex-shrink: 0;
}
@media (max-width: 991px) and (min-width: 576px) {
  .block-products__featured-item .product-card .product-card__image {
    padding-left: 24px;
    padding-right: 24px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) and (min-width: 576px) {
  .block-products__featured-item .product-card .product-card__image {
    width: 216px;
  }
}

@media (max-width: 991px) and (min-width: 576px) {
  .block-products__featured-item .product-card .product-card__image {
    padding: 16px;
  }
}

@media (max-width: 991px) and (min-width: 576px) {
  .block-products__featured-item .product-card {
    flex-direction: row;
  }
}

@media (min-width: 992px) {
  .block-products__featured-item .product-card .product-card__info {
    padding: 0 30px;
    flex-grow: 0;
  }
}
@media (max-width: 991px) and (min-width: 576px) {
  .block-products__featured-item .product-card .product-card__info {
    padding-left: 0;
    padding-right: 30px;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 120px;
  }
}

.product-card__info {
  padding: 2px 22px 0px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
@media (min-width: 992px) {
  .block-products__featured-item .product-card .product-card__name {
    font-size: 17px;
    line-height: 23px;
  }
}
@media (max-width: 991px) and (min-width: 576px) {
  .block-products__featured-item .product-card .product-card__name {
    overflow: hidden;
    max-height: 38px;
    font-size: 17px;
    margin-bottom: 2px;
    flex-grow: 0;
  }
}

.product-card__image a {
  display: block;
  padding-bottom: 100%;
  position: relative;
}
.product-card::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  pointer-events: none;
  border-radius: 2px;
  box-shadow: 0 0 0 1px #ededed inset;
  transition: box-shadow 0.2s;
}
.product-card:hover::before {
  transition-duration: 0s;
  box-shadow: 0 0 0 2px #e5e5e5 inset;
}
.product-card__image img {
  max-width: 100%;
  display: block;
  position: absolute;
}
img {
  vertical-align: middle;
  border-style: none;
}

.product-card__name {
  font-size: 15px;
  line-height: 19px;
  flex-grow: 1;
}
.product-card__name a {
  color: inherit;
  transition: 0.15s;
}
@media (max-width: 991px) and (min-width: 576px) {
  .block-products__featured-item .product-card .product-card__name {
    overflow: hidden;
    max-height: 38px;
    font-size: 17px;
    margin-bottom: 2px;
    flex-grow: 0;
  }
}

.product-card__name a:hover {
  color: #47991f;
}

@media (min-width: 992px) {
  .block-products__featured-item .product-card .product-card__actions {
    padding: 0 30px 30px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 991px) and (min-width: 576px) {
  .block-products__featured-item .product-card .product-card__actions {
    position: absolute;
    align-items: center;
    bottom: 26px;
    left: 232px;
  }
}

@media (min-width: 992px) {
  .block-products__featured-item .product-card .product-card__prices {
    margin-bottom: auto;
    font-size: 20px;
  }
}
.product-card__prices {
  margin-top: 14px;
  line-height: 1;
  font-weight: 700;
  color: #3d464d;
}
@media (max-width: 991px) and (min-width: 576px) {
  .block-products__featured-item .product-card .product-card__prices {
    margin-top: 0;
    font-size: 20px;
    margin-right: 24px;
  }
}
.product-card__buttons {
  display: flex;
  margin-top: 24px;
}
@media (min-width: 992px) {
  .block-products__featured + .block-products__list {
    margin-left: 6px;
  }
}
.block-products__list {
  display: flex;
  flex-wrap: wrap;
  margin: -6px;
}
.block-products__list-item {
  display: flex;
  width: calc(33.3333% - 12px);
  margin: 6px;
}
.block-products__list-item .product-card {
  width: 100%;
  flex-shrink: 0;
}
@media (hover: hover) and (min-width: 480px) {
  .block-products__list-item .product-card:hover {
    position: relative;
    z-index: 3;
    margin-bottom: -50px;
  }
}
@media (min-width: 480px) {
  .block-products__list-item .product-card .product-card__badges-list {
    left: 16px;
    top: 16px;
  }
}
.product-card__badge--hot {
  background: #614ba6;
  color: #fff;
  margin-right: 4px;
}
@media (min-width: 480px) {
  .block-products__list-item .product-card .product-card__image {
    padding: 15px;
  }
}
.block-products__list-item .product-card .product-card__image {
  padding: 18px 18px 20px;
}

.block-products__body .app-product-card {
  display: flex;
  flex-grow: 1;
}

@media (min-width: 480px) {
  .block-products__list-item .product-card .product-card__info {
    padding: 0 15px;
  }
}
.block-products__list-item .product-card .product-card__info {
  padding: 0 24px;
}

@media (min-width: 480px) {
  .block-products__list-item .product-card .product-card__actions {
    padding: 0 15px 15px;
  }
}

.block-products__list-item .product-card .product-card__actions {
  padding: 0 24px 24px;
}

@media (hover: hover) and (min-width: 480px) {
  .block-products__list-item .product-card .product-card__buttons {
    display: none;
  }
}
@media (max-width: 991px) {
  .block-products__featured + .block-products__list {
    margin-top: 6px;
  }
}

@media (min-width: 480px) {
  .block-products__list-item .product-card .product-card__buttons .btn {
    font-size: 0.8125rem;
    height: calc(1.5rem + 2px);
    line-height: 1.25;
    padding: 0.25rem 0.5625rem;
    font-weight: 500;
  }
}
.product-card__buttons > :first-child {
  margin-right: auto;
}
.product-card__badge--sale {
  background: #f33;
  color: #fff;
}
.product-card__new-price {
  color: #ff2626;
}
.product-card__old-price {
  color: #b3b3b3;
  font-weight: 400;
  font-size: 13px;
  text-decoration: line-through;
}
@media (hover: hover) and (min-width: 480px) {
  .block-products__list-item .product-card:hover .product-card__buttons {
    display: flex;
  }
}
.btn-primary,
.btn-primary.disabled,
.btn-primary:disabled {
  border-color: #c33;
  background: #c33;
  color: #fff;
  fill: #fff;
}
.btn {
  border-radius: 2px;
  transition: all 0.1s ease-in-out;
  font-size: 1rem;
  height: calc(2.25rem + 2px);
  line-height: 1.5;
  padding: 0.375rem 1.25rem;
  font-weight: 500;
}
@media (max-width: 767px) {
  .block-products__list-item {
    width: calc(50% - 12px);
  }
}

@media (max-width: 575px) {
  .block-products__featured-item .product-card .product-card__buttons .btn {
    font-size: 0.875rem;
    height: calc(1.875rem + 2px);
    line-height: 1.25;
    padding: 0.375rem 1rem;
    font-weight: 500;
  }
}
@media (max-width: 575px) {
  .block-products__featured-item .product-card .product-card__actions {
    padding: 0 24px 24px;
  }
}

//Best Sellers

//block-banner

.block {
  margin-bottom: 50px;
}
.block-banner__body {
  position: relative;
  display: block;
  height: 170px;
  text-align: center;
  color: inherit;
}
@media (max-width: 767px) {
  .block-banner__body {
    height: 390px;
  }
}

.block-banner__image {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  /* background-repeat: no-repeat;
    background-position: center;
    z-index: -1; */
}
@media (max-width: 767px) {
  .block-banner__image--desktop {
    display: none;
  }
}
.block-banner__image--mobile {
  display: none;
}
.block-banner__image--mobile {
  display: none;
}
.block-banner__title {
  padding-top: 28px;
  font-size: 30px;
  line-height: 1;
  font-weight: 700;
}
.block-banner__mobile-br {
  display: none;
}
.block-banner__text {
  padding-top: 8px;
}

@media (max-width: 767px) {
  .block-banner__image--mobile {
    display: block;
  }
}
@media (max-width: 767px) {
  .block-banner__button,
  .block-banner__text,
  .block-banner__title {
    width: 220px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 767px) {
  .block-banner__text {
    padding-top: 12px;
  }
}
@media (max-width: 767px) {
  .block-banner__mobile-br {
    display: block;
  }
}
.block-banner__button {
  padding-top: 20px;
}

@media (max-width: 767px) {
  .block-banner__button {
    padding-top: 28px;
  }
}

.block-banner__body:hover {
  color: inherit;
}
//block-banner

//Featured products
.block-products__list-Featured__Products {
  display: flex;
  flex-wrap: wrap;
  margin: -6px;
}
.block-products__list-item-Featured {
  display: flex;
  width: calc(25% - 12px);
  margin: 6px;
}

@media (hover: hover) and (min-width: 480px) {
  .block-products__list-item-Featured .product-card:hover {
    position: relative;
    z-index: 3;
    margin-bottom: -50px;
  }
}

@media (hover: hover) and (min-width: 480px) {
  .block-products__list-item-Featured .product-card:hover .product-card__buttons {
    display: flex;
  }
}

@media (min-width: 480px) {
  .block-products__list-item-Featured .product-card .product-card__buttons .btn {
    font-size: 0.8125rem;
    height: calc(1.5rem + 2px);
    line-height: 1.25;
    padding: 0.25rem 0.5625rem;
    font-weight: 500;
  }
}
@media (hover: hover) and (min-width: 480px) {
  .block-products__list-item-Featured .product-card .product-card__buttons {
    display: none;
  }
}

@media (min-width: 480px) {
  .block-products__list-item-Featured .product-card .product-card__actions {
    padding: 0 15px 15px;
  }
}
@media (min-width: 576px) {
  .block-products__list-item-Featured {
    width: calc(50% - 12px);
  }
}

@media (max-width: 576px) {
  .block-products__list-item-Featured {
    width: calc(50% - 12px);
  }
}

@media (min-width: 768px) {
  .block-products__list-item-Featured {
    width: calc(33.333% - 12px);
  }
}
@media (min-width: 480px) {
  .block-products__list-item-Featured .product-card .product-card__image {
    padding: 15px;
  }
}

@media (min-width: 992px) {
  .block-products__list-item-Featured {
    width: calc(25% - 12px);
  }
}
.block-products__list-item-Featured .product-card {
  width: 100%;
  flex-shrink: 0;
}

.block-products__list-item-Featured .product-card .product-card__actions {
  padding: 0 24px 24px;
}

//Featured products

//Block features
.block-features--layout--classic {
  margin-top: -20px;
}

.block-features__list {
  border: 2px solid #f0f0f0;
  border-radius: 2px;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 991px) and (min-width: 420px) {
  .block-features--layout--classic .block-features__list {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

.block-features__item {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding: 16px 24px;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 991px) and (min-width: 420px) {
  .block-features--layout--classic .block-features__item {
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    width: calc(50% - 1px);
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }
}
.block-features__icon {
  width: 48px;
  height: 48px;
  fill: #47991f;
  margin-right: 20px;
}
.block-features__content {
  padding-top: 2px;
}
.block-features__title {
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  display: block;
}
.block-features__subtitle {
  font-size: 14px;
}
.block-features--layout--classic .block-features__divider {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 2px;
  background: #f0f0f0;
}
@media (max-width: 991px) and (min-width: 420px) {
  .block-features--layout--classic .block-features__item {
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    width: calc(50% - 1px);
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }
}
@media (max-width: 991px) and (min-width: 420px) {
  .block-features--layout--classic .block-features__divider:nth-child(4n) {
    width: 100%;
    height: 2px;
  }
}
@media (max-width: 575px) and (min-width: 420px) {
  .block-features--layout--classic .block-features__item {
    text-align: center;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
@media (max-width: 575px) and (min-width: 420px) {
  .block-features--layout--classic .block-features__icon {
    margin-bottom: 20px;
    margin-right: 0;
    align-items: center;
  }
}
@media (max-width: 767px) and (min-width: 576px), (max-width: 1199px) and (min-width: 992px) {
  .block-features--layout--classic .block-features__content {
    padding-top: 0;
  }
}

//coursell
.block-slideshow--layout--full {
  margin-top: 20px;
}
.block-slideshow {
  margin-bottom: 50px;
  position: relative;
}
@media (min-width: 768px) {
  .block-slideshow--layout--full .block-slideshow__body,
  .block-slideshow--layout--full .block-slideshow__slide {
    height: 440px;
  }
}

@media (min-width: 768px) {
  .block-slideshow--layout--full .carousel-caption {
    bottom: 54px;
    left: 72px;
  }
}
.carousel-caption {
  position: absolute;
  bottom: 46px;
  left: 46px;
}
.block-slideshow .active .block-slideshow__slide-button,
.block-slideshow .active .block-slideshow__slide-text,
.block-slideshow .active .block-slideshow__slide-title {
  opacity: 1;
  transform: none;
}
@media (min-width: 768px) {
  .block-slideshow--layout--full .block-slideshow__slide-title {
    margin-bottom: 16px;
    line-height: 36px;
  }
}

.block-slideshow__slide-title {
  font-size: 30px;
  line-height: 34px;
  font-weight: 700;
  margin-bottom: 12px;
  color: #8c8c8c;
}

.block-slideshow__slide-text {
  color: #8c8c8c;
}

//popular categories

.block-categories__list {
  display: flex;
  flex-wrap: wrap;
  margin: -6px;
}
.block-categories__item {
  margin: 6px;
  width: calc(33.3333% - 12px);
}
.category-card {
  display: flex;
}
.category-card__body {
  display: flex;
  border-radius: 2px;
  background: #fff;
  box-shadow: 0 1px 16px rgba(0, 0, 0, 0.04);
  padding: 24px 20px;
  flex-grow: 1;
}
.category-card__image {
  margin-right: 24px;
  width: 130px;
}
.category-card__image img {
  max-width: 100%;
}
.category-card__content {
  display: flex;
  flex-direction: column;
}
.category-card__name {
  margin-top: -2px;
  font-weight: 500;
  font-size: 17px;
  line-height: 19px;
}
.category-card__name a {
  color: inherit;
  transition: 0.15s;
}
.category-card__name a:hover {
  color: #1a66ff;
}
.category-card__links {
  list-style: none;
  margin: 14px 0 0;
  padding: 0;
  font-size: 14px;
  line-height: 22px;
  flex-grow: 1;
}

.category-card__links a {
  color: #6c757d;
  transition: 0.15s;
}
.category-card__all {
  margin-top: 14px;
  font-size: 14px;
}
@media (max-width: 767px) and (min-width: 480px) {
  .block-categories--layout--classic .block-categories__item {
    width: calc(50% - 12px);
  }
}
@media (max-width: 991px) and (min-width: 480px) {
  .category-card--layout--classic .category-card__body {
    flex-direction: column;
    padding: 24px 28px;
  }
}
@media (max-width: 1199px) and (min-width: 992px) {
  .category-card--layout--classic .category-card__image {
    width: 90px;
  }
}
